version: '3.8'

services:
  analyzer:
    build: .
    container_name: APIGatewayAnalyzer
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    restart: unless-stopped
    environment:
      - DATA_DIR=/data
