version: '3.8'

services:
  APIGatewayAnalyzer:
    image: ghcr.io/alzuno/APIGatewayAnalyzer:latest
    container_name: APIGatewayAnalyzer
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    environment:
      - DATA_DIR=/data
